body,
body > div {
    height: 100vh;
}

.template-2 {
    // Base
    // Layout
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5rem auto 8vh;
    // Modules Elements etc

    > header {
        position: fixed;
        background-color: lightcoral;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 5rem;
        padding: 0.5rem 0;
        /* grid-column: 1 / 5;
        grid-row: 1 / 2; */
    }
    > nav {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    > main {
        grid-column: 2 / 5;
        grid-row: 2 / 3;
    }

    > footer {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
    }

    // Components
    // States
    // Skin Themes
}

// Media Queries!

@media screen and (max-width: 699px) {
    .template-2 {
        display: block;
        > header,
        > nav,
        > main,
        > footer {
            display: block;
            width: 100%;
            position: relative;
            height: auto;
        }

        > header {
            top: 0;
            padding: 7.5px;
            background-color: lightcoral;
        }

        > nav {
            background-color: gray;
            padding:1rem;
            height: 5vh;
            display: block;
            transition: 2s all ease-in-out; 
        }
        > nav > * {
            position: absolute;
            display: flex;
            flex-direction: column;
            margin: 0.5rem 0;
            color: $light-color;
            font-weight: bolder;
            flex-wrap: wrap;
            width: 210px;
            font-size: 20px;
            border-radius: 15px;
            background-color: black;
            text-align: center;
            transition: 1s all ease-in-out; 
            position: absolute;
        }
        > nav.nav--state-closed {
            position: absolute;
            overflow: hidden;
            height: 0;
        }
        > main {
            background-color: aquamarine;
            height: 50vh;
            display: block;
        }

        > footer {
            position: fixed;
            bottom: 0;
            height: 5vh;
        }
    }
}
