
.container{
    display: flex;
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
}

.header-template{
    background-color: orange;
    flex-basis: 100%;
    padding: $default-spacer;
}

.nav-template{
    background-color: red;
    flex-basis: 25%;
    padding: $default-spacer;

}
.main-template{
    flex-basis: 75%;
    padding: $default-spacer;
}
.footer-template{
    flex-basis: 100%;
    padding: $default-spacer;
    background-color: blue;
}

