// Farben

// Corparete Farben
$primary-color:hsl(0, 100%, 49.9%);
$secondary-color: #00ff00;
$tertiary-color: hsl(240, 100%, 49.9%);;

// Semantische Farben
$success-color: #00ff00;
$warning-color: #ffcc00;
$error-color:hsl(0, 100%, 49.9%);
$info-color: hsl(240, 100%, 49.9%);
$cta-color: #ff00ff;

// Funktionale Farben
$dark-color: #000000;
$light-color: #ffffff;
$shadow-color: #00000033;

// Farben Map

 $colors: (
  primary-color: $primary-color,
  secondary-color: $secondary-color,
  tertiary-color: $tertiary-color,
  success-color: $success-color,
  warning-color: $warning-color,
  error-color: $error-color,
  info-color: $info-color,
  cta-color: $cta-color,
  dark-color: $dark-color,
  light-color: $light-color,
  shadow-color: $shadow-color
);


// Rhytmus

$minor-second: 1.067;
$major-second: 1.125;
$minor-third: 1.2;
$major-third: 1.25;
$perfect-fourth: 1.333;
$augmented-fourth: 1.414;
$perfect-fifth: 1.5;
$minor-sixth: 1.6;
$golden-ratio: 1.618;
$major-sixth: 1.667;
$minor-seventh: 1.778;
$major-seventh: 1.875;
$octave: 2;
$major-tenth: 2.5;
$major-eleventh: 2.667;
$major-twelfth: 3;
$double-octave: 4;

//default variables // margin spacer
$default-spacer: 1rem;
$half-spacer: $default-spacer * 0.5;
$double-spacer: $default-spacer * 2;

//default values/variables
$default-font-size: 1;
$default-line-height: $perfect-fourth;


// Headline-variables Typografie
$headlineSizes: (
    "h1": #{$major-eleventh}rem,
    "h2": #{$octave}rem,
    "h3": #{$minor-seventh}rem,
    "h4": #{$perfect-fifth}rem,
    "h5": #{$major-third}rem,
    "h6": #{$minor-second}rem,
);

$elementFonts: (
    "p": #{$default-font-size}rem,
    "a": #{$default-font-size}rem,
    "dl": #{$default-font-size}rem,
    "li": #{$default-font-size}rem,
);
/* Developer-Variables-To-Use */

$dev-color: rgba(255, 0, 0, 0.637);
$dev-border-style: solid;
$dev-border-width: 1px;
