@use "sass:color";

@each $color-element-names, $value in $colors {
    .#{$color-element-names} {
        background-color: $value;
        margin-top: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.75rem;
        font-weight: bolder;

        @if color.lightness($value) < 50% {
            color: $light-color;
        } @else {
            color: $dark-color;
        }
    }
}

.color-fields {
    @include reset-list;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $default-spacer;

    > * {
        align-content: center;
        display: block;
        width: 10rem;
        height: 10rem;
        padding: $half-spacer;

        @include border-radius($default-spacer);
        @include box-shadow();
    }
}
