// COPYRIGHT IMPORTANT

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: $default-font-size;
    line-height: $default-line-height; // standart: 1.2 => default

}


@each $elements, $value in $elementFonts{
    #{$elements} {
        font-size: $value;
    }
}

// HeadLine Function
@each $headlineSize, $value in $headlineSizes {
    #{$headlineSize} {
        font-size: $value;
    }
}

p {
    margin: 0 0 1rem;
}
