// Basis-Klasse fur die navigation
.nav {
    //Reset
    list-style-type: none;
    margin: 0;
    padding: 0;

    // Layout-Klassen
    &-column {
        display: flex;
        flex-direction: column;
    }
    &-row {
        display: flex;
        flex-direction: row;
    }

}
